.app{
    position: relative;
}

.user_header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ea4959;
    text-align: center;
    z-index: 1;
    .new_user_btn{
        margin: 1em 1.2em;
        width: 8em;
        padding: 0.5em;
        border-radius: 0.7em;
        color: #fff;
        background-color: #999;
        transition: scale 0.3s ease;
        &:hover{
            scale:1.1;
        }
    }
}

.user_container{
    flex-wrap: wrap;
    gap: 2em;
    padding: 8em 1em;
}